<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.2tor4You"
        tools:targetApi="31">
        <activity
            android:name=".ActivityEventsListView"
            android:exported="false" />
        <activity
            android:name=".ActivityEditEvent"
            android:exported="false" />
        <activity
            android:name=".ActivityCalendar"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ActivityNavigationBar" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ActivityHomeStudent"
            android:exported="false" />
        <activity
            android:name=".ActivityMyProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityNotifications"
            android:exported="false" />
        <activity
            android:name=".ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".ActivityAccount"
            android:exported="false" />
        <activity
            android:name=".ActivityTermAndConditions"
            android:exported="false" />
        <activity
            android:name=".ActivityDeleteAccount"
            android:exported="false" />
        <activity
            android:name=".ActivityChangePassword"
            android:exported="false" />
        <activity
            android:name=".ActivityRegisterTutor"
            android:exported="false" />
        <activity
            android:name=".ActivityRegisterStudent"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>